*,
::after,
::before {
  box-sizing: border-box;
}

#header {
  vertical-align: top;
  /* border: 1px red solid; */
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 120px;
}

#logo {
  object-fit: cover;
  width: 80%;
  height: 100%;
}

.row1 {
  text-align: center;
  /* border: green 1px solid; */
  height: 100%;
  width: 16.667%;
}

.headlink {
  margin: 10px;
  text-align: center;

  text-decoration: none;
  color: black;
}

.headlink > h3 {
  margin-top: 23px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btn1 {
  font-size: medium;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 30px;
  border-radius: 64px;
  height: 50%;
  width: 70%;
  background-color: rgb(168, 215, 247);
}

.btn1:hover {
  background-color: rgb(5, 57, 102);
}
#content {
  padding: 150px;
}

#bodycontent {
  text-align: center;
  position: fixed;
  height: 450px;
  width: 100%;
  background-image: url("24286.jpg");
  /* background-repeat:no-repeat; */

  background-size: 100% 100%;
  object-fit: cover;
  overflow-y: auto;
  z-index: 0.5;
  background-color: #bbb;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  /* background-color: blue; */
}

#modal-content {
  background-color: silver;
  margin: 20%;
}

.closeBtn {
  color: red;
  float: right;
}

.closeBtn:hover {
  color: black;
  background-color: violet;
}

#modal-header h2,
#modal-footer h3 {
  margin: 0;
}
#modal-header {
  background-color: rgb(3, 59, 94);
  padding: 10px;
  color: azure;
}

#modal-body {
  padding: 10px 20px;
}

#modal-footer {
  background-color: rgb(3, 59, 94);
  padding: 10px;
  color: azure;
  text-align: center;
}

/* default stylings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* provides background color to body */

/* ----- container stylings: 
  -> centers the whole content of the page
  -> defines width and height for container ----- */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 800px;
  height: 600px;
}
/* ----- end of container stylings ----- */

/* provides padding to main heading */
.main-heading {
  padding: 2rem 0 2rem 0;
}

.content {
  position: relative;
}

/* ----- carousel content stylings ----- */
/* places the carousel content on center of the carousel */
.carousel-content {
  position: absolute;
  /*to center the content horizontally and vertically*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 50;
}
.carousel-heading {
  font-size: 3rem;
  color: rgb(33, 41, 95);
  margin-bottom: 1rem;
}
/*----- end of carousel content stylings ----- */

/* ----- slideshow stylings ----- */
.slideshow {
  height: 100%;
  overflow: hidden; /* to hide slides in x-direction */
  position: relative;
}
/* wrapper which wraps all the slideshow images stylings */
.slideshow-wrapper {
  display: flex;
  /* We give it width as 400% because we are making a 
         4 image carousel. If you want to make for example, 
         5 images carousel, then give width as 500%. */
  width: 400%;
  height: 100%;
  position: relative;
  /* you can change the animation settings from below */
  animation: slideshow 20s infinite;
}
/* define width and height for images*/
.slide {
  width: 100%;
  height: 100%;
}
.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* @keyframes are used to provide animations
     We make these settings for 4 image carousel.
     Make modification according to your needs. */
@keyframes slideshow {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }
  15% {
    left: -100%;
  }
  25% {
    left: -100%;
  }
  30% {
    left: -200%;
  }
  40% {
    left: -200%;
  }
  45% {
    left: -300%;
  }
  55% {
    left: -300%;
  }
  60% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  85% {
    left: -100%;
  }
  90% {
    left: 0%;
  }
}
/* ----- end of slideshow stylings ----- */

/* ----- carousel control buttons stylings ----- */
.slide-btn {
  background-color: #bbb;
  border-radius: 50%;
  border: 0.2rem solid #d38800;
  width: 1.2rem;
  height: 1.2rem;
  outline: none;
  cursor: pointer;
  /* stylings for positioning the buttons at
         the bottom of the carousel */
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 70;
}
/* As we provide position as absolute, 
  the buttons places one over the other. 
  So, we have to place them individually
  at their correct positions. */
.slide-btn-1 {
  left: 45%;
}
.slide-btn-2 {
  left: 50%;
}
.slide-btn-3 {
  left: 55%;
}
.slide-btn-4 {
  left: 60%;
}
/* When we focus on the particular button, 
  the animation stops to that particular image 
  to which the button is associated. */
.slide-btn-1:focus ~ .slideshow-wrapper {
  animation: none;
  left: 0;
}
.slide-btn-2:focus ~ .slideshow-wrapper {
  animation: none;
  left: -100%;
}
.slide-btn-3:focus ~ .slideshow-wrapper {
  animation: none;
  left: -200%;
}
.slide-btn-4:focus ~ .slideshow-wrapper {
  animation: none;
  left: -300%;
}
/* when we focus on the button, the background color changes */
.slide-btn:focus {
  background-color: #308d46;
}
/* ----- end of carousel control buttons stylings ----- */

.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid rgb(110, 110, 209);
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: rgb(30, 30, 94);
  content: "\f10e";
  font-family: "FontAwesome";
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid rgb(110, 110, 209);
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: rgb(30, 30, 94);
  content: "\f10e";
  font-family: "FontAwesome";
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid rgb(110, 110, 209);
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: rgb(30, 30, 94);
  content: "\f10e";
  font-family: "FontAwesome";
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid rgb(110, 110, 209);
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: rgb(30, 30, 94);
  content: "\f10e";
  font-family: "FontAwesome";
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid rgb(110, 110, 209);
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: rgb(30, 30, 94);
  content: "\f10e";
  font-family: "FontAwesome";
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}
